:root {
  --bg-color: #f5f5f7;
  --accent-disabled: #86c6ff;
  --accent-hover: #00529b;
  --accent-default: #0075de;
  --normal-hover: #828282;
  --normal-default: #e0e0e0;
  --delete: #ffeeec;
  --delete-border-color: #ff4343;
  --drag: rgba(255, 255, 255, 0.8);
  --place-opacity: 0.4;
  --place-boder-color: #0075de;

  --title-text: 32px;
  --column-title-text: 18px;
  --card-title-text: 16px;
  --card-body-text: 14px;
  --card-caption-text: 12px;
  --action-body-text: 16px;
  --action-time-stamp-text: 14px;
  --user-name-text: 16px;
  --user-img: 40px;

  --button-text: 14px;

  --alert-text: 18px;
}

html {
  background-color: var(--bg-color);
}

body {
}
